fastapi
uvicorn[standard]
sqlalchemy>=2.0
psycopg2-binary
alembic
python-dotenv
pydantic[email]
passlib[argon2]
python-jose[cryptography]
pyOpenSSL>=24.2.0
python-multipart
requests
apscheduler
redis
pillow
numpy
opencv-python-headless
pytesseract
rapidfuzz
easyocr
torch
torchvision
torchaudio
scikit-image
